@font-face {
    font-family: OpenSans;
    src: url(~@/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(~@/assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}